<div class="content">
  <h2 mat-dialog-title>Washer Signup</h2>
<div mat-dialog-content>


<form [formGroup]="signupForm">

  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input [formControl]="f.userName" matInput  placeholder="Enter Washer Name">

    <mat-error *ngIf="f.userName.hasError('pattern') && !signupform.hasError('required')">
      Please enter a valid Name
    </mat-error>

    <mat-error *ngIf="signupform.hasError('required')">
      Name is <strong>required</strong>
    </mat-error>

  </mat-form-field>





  <mat-form-field appearance="outline">


    <mat-label>Address</mat-label>
    <input [formControl]="f.userAddress" matInput placeholder="Enter Washer Address">

    <mat-error *ngIf="f.userAddress.hasError('pattern') && !signupform.hasError('required')">
      Please enter a valid Address
    </mat-error>

    <mat-error *ngIf="signupform.hasError('required')">
      Address is <strong>required</strong>
    </mat-error>


  </mat-form-field>






  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Mobile</mat-label>
    <span matPrefix>+91 &nbsp;</span>
    <input [formControl]="f.userPhnumber" type="tel" matInput placeholder="555-555-1234">
  
    <mat-error *ngIf="f.userPhnumber.hasError('pattern') && !signupform.hasError('required')">
      Please enter a valid Mobile Number
    </mat-error>

    <mat-error *ngIf="signupform.hasError('required')">
      Mobile Number is <strong>required</strong>
    </mat-error>
  
  
  
  </mat-form-field>




  <mat-form-field class="example-full-width" appearance="outline">


    <mat-label>Email</mat-label>
    <input  [formControl]="f.userEmail" matInput placeholder="Enter Washer Email Id">

    <mat-error *ngIf="f.userEmail.hasError('email') && !signupform.hasError('required')">
      Please enter a valid email 
    </mat-error>

    <mat-error *ngIf="signupform.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  
  
  
  </mat-form-field>



  <mat-form-field appearance="outline">
    <mat-label>Enter your password</mat-label>
    <input [formControl]="f.userPassword" matInput [type]="hide ? 'password' : 'text'">

    <mat-error *ngIf="f.userPassword.hasError('pattern') && !signupform.hasError('required')">
      Please enter a valid Password 
      Requirements: length 6-16 <br>Combination of Uppercase, Lowercase, Number and special Character
    </mat-error>

    <mat-error *ngIf="signupform.hasError('required')">
      Password is <strong>required</strong>
    </mat-error>

    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>

    

    
  </mat-form-field>


</form>
</div>


<div>
  <div mat-dialog-action [align]="'end'">
      
      <button style="margin-left: 8px;" mat-raised-button color="warn" mat-dialog-close>Close</button>
      <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="signUp()" mat-dialog-close>Signup</button>
  </div>
</div>



</div>


